@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.red-dive {
  width: 70%;
  height: auto;
  flex-direction: row;
}
.red-2 {
  flex: 1;
  gap: 90vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.continente {
  display: flex;
  flex-direction: column;
  width: 65vw;
  height: 75vh;
  /* max-width: 1200px;
  width: 65vw;
  max-height: 800px; 
  height: 75vh; */

  border-radius: 20px;
  box-shadow: 40px 40px 10px #00000040;
}

.norte-side {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  background-color: #ffff;
  border-radius: 16px 10px 0 0;
  /* padding: 30px; */
  justify-content: center;
  align-items: center;
}

.sul-side {
  flex: 0.5;
  background-color: #ffff;
  display: flex;
  border-radius: 0 0 16px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
}

.img-inicial {
  width: 100%;
  height: auto;
  max-width: 330px;
}

.continente-1 {
  flex: 0.4;
  display: flex;
}
.continente-4 {
  flex: 0.4;
  display: flex;
  margin-left: -5em;
  justify-content: center;
  align-items: center;
}

.continente-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;
  align-items: center;
  padding: 50px;
  margin-top: 40px;
}

.continente-3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;
  align-items: center;
  /* padding: 50px; */
  margin-top: -40px;
}

.red-div {
  display: flex;
  align-items: center;
  /* background-color: #f5f5f5;  */
  border: #ccc;
  border-radius: 5px;
  gap: 50px; /* Espaço entre red-sub */
  width: 90%; /* Ocupa toda a largura */
  /* padding: 20px; */
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.red-div1 {
  display: flex;
  align-items: center;
  /* background-color: #f5f5f5;  */
  border: #ccc;
  border-radius: 5px;
  gap: 50px; /* Espaço entre red-sub */
  width: 67%; /* Ocupa toda a largura */
  /* padding: 20px; */
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.red-sub1,
.red-sub2,
.red-sub3,
.red-sub4,
.red-sub5,
.red-sub6,
.red-sub7 {
  flex: 1;
  border: 2px solid #0e0d0d;
  opacity: 85%;
  background-color: transparent;
  border-radius: 12px;
  padding: 16px;
  height: auto;
  max-height: 70px;
  overflow: hidden;
  width: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.red-sub1 {
  background-color: rgba(53, 54, 129, 0.8);
}

.red-sub2 {
  background-color: rgba(53, 129, 109, 0.8);
}

.red-sub3 {
  background-color: rgba(17, 87, 126, 0.8);
}

.red-sub4 {
  background-color: rgba(129, 53, 109, 0.8);
}

.red-sub5 {
  background-color: rgba(53, 129, 109, 0.8);
}

.red-sub6 {
  background-color: rgba(109, 53, 129, 0.8);
}

.red-sub7 {
  background-color: rgba(17, 87, 126, 0.8);
}

.red-sub1 p,
.red-sub2 p,
.red-sub3 p,
.red-sub4 p,
.red-sub5 p,
.red-sub6 p,
.red-sub7 p {
  font-size: 14.5px; /* Tamanho do texto */
  font-weight: bold; /* Negrito */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #000; /* Cor do texto */
  margin: 0; /* Remove margem padrão do parágrafo */
}
