.title {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 1vw;
  font-weight: 800;
  color: #000;
  text-align: left;
  margin-bottom: 10px;
}
