
body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 100vw;
  min-height: 100vh;
  background-color: #62356e;
  justify-content: center;     
  align-items: center;     

}
link{
   min-width: 30vw;
  min-height: 30vh;
}